# Node / SvelteKit
/node_modules
.DS_Store
.svelte-kit
/build
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
*.so
*.egg

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?