/* 1. Impor lapisan dasar Tailwind CSS. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Definisikan custom properties (variabel CSS) di lapisan :root. */
/*    Ini memungkinkan kita untuk membuat tema yang dinamis dan konsisten. */
@layer base {
	:root {
		--background: theme(colors.background);
		--foreground: theme(colors.text);

		--primary: theme(colors.primary.DEFAULT);
		--primary-hover: theme(colors.primary.hover);
		--primary-focus: theme(colors.primary.focus);

		--secondary: theme(colors.secondary.DEFAULT);
		--secondary-hover: theme(colors.secondary.hover);

		--destructive: theme(colors.destructive.DEFAULT);
		--destructive-hover: theme(colors.destructive.hover);
		
		--calm: theme(colors.calm);
	}

	/* Atur warna dasar untuk body */
	body {
		@apply bg-background text-foreground;
	}
}